@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";




/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body{
  font-family: roboto;
}